html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* #__next {
  min-height: 100%;

} */

/* * {
  box-sizing: border-box;
} */

.LayoutDiv {
  display: flex;
  width: 100%;
  min-height: 100%;
}

.middle{
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #aab8c2;
  width: 42%;
  /* min-height: 768px; */
}

.leftSide{
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-color: #aab8c2;
  width: 25%;
}

.rightSide{
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-color: #aab8c2;
  width: 33%;
  display: flex;
  justify-content: center;
  
}

.sidebar{
  /* width: 250px;
  min-width: 250px; */
  width: 70%;
  /* min-width: 30%; */
  overflow: hidden;
  padding: 20px 20px;
  margin: 20px auto 0 auto;
  /* box-shadow: 0 0 6px hsl(210 14% 90%); */
}

.sidebarlink{
  display: flex;
  overflow: hidden;
  align-items: cover;
  cursor: pointer;
  border-radius: 30px;
  margin-bottom: 5px;
}
.sidebarlink:hover{
  background-color: #e8f5fe;
  color: #50b7f5;
  transition: color 100ms ease-out;
}
.sidebarlink > h2{
  font-weight: 700;
  font-size: 20px;
  margin-right: 20px;
  
}
.sidebarlink > .MuiSvgIcon-root {
  padding: 20px;
}

#tweet{
  width: 100%;
  height: 50px;
  background-color: hsl(203, 89%, 64%);
  border-radius: 20px;
  color: white;
  font-weight: 700;
  text-transform: inherit;
}
::selection{
  color: #fff;
  background: #1da1f2;
}

.HomeHeading {
  margin-left: 20px;
}

.wrapper{
  background: #fff;
  /* max-width: 475px; */
  /* max-width: 500px; */
  width: 100%;
  border-radius: 15px;
  /* padding: 25px 25px 15px 25px; */
  /* box-shadow: 0px 10px 15px rgba(0,0,0,0.1); */
  /* margin-right: 2%; */
  margin-bottom:5%;
}


.tweet-area {
  display: flex;
  padding-top: 10px;
  padding-bottom: 3px;
  align-items: center;
  align-content: space-between;
  min-height: fit-content;
}

.tweet-area-input {
  min-height: 100%;
  height: fit-content;
  overflow-x: hidden;
  width: 85%;
  border-bottom: 1px solid #e6e6e6;
  margin-right: 2%;

  /* display: flex;
  align-items: baseline; */
}

.tweet-area-input > textarea{
  position: relative;
  resize: none;
  min-height: fit-content;
  max-height: max-content;
  max-width: 95%;
  overflow-y: auto;
  outline: none;
  font-size: 17px;
  word-wrap: break-word;
  word-break: break-all;
  border: none;
}
.tweet-area::-webkit-scrollbar{
  width: 0px;
}

.tweet-area-image {
  width: fit-content;
  padding-left: 2%;
  padding-right: 2%;
}

.tweet-area-image > img {
  margin-top: 2%;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  /* margin-left: 10%; */
}


.bottom{
  display: flex;
  margin-top: 13px;
  align-items:center;
  justify-content: space-between;
}

.bottom .content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
}

.bottom .counter{
  color: #333;
  width: 4%;
  font-weight: 500;
  margin-right: 15px;
  padding-right: 15px;
  /* border-right: 1px solid #aab8c2; */
}

.TweetButton {
  padding: 9px 18px;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  background: #1da1f2;
  color: #fff;
  cursor:grab;
  opacity: 0.5;
  pointer-events: none;
  transition: background 0.2s ease;
}

.TweetButton.active {
  opacity: 1;
  pointer-events: auto;
}

.TweetButton:hover{
  background: #0d8bd9;
  color: #fff;
}

.searchBar {
  display: flex;
  /* height: 8%;  */
  height: 90px;
  align-items: center;
  align-content: center;
  justify-content: center;
  
}

.searchBar > input {
  height: 50%;
  width: 80%;
  border-radius: 30px;
  text-align: center;
  font-size: inherit;
}

.trendingHeader{
  font-size: 150%;
  text-align: center;
  margin: 5%;

}

.trending{
  display: flex;
  overflow: hidden;

  align-items: center;
  cursor: pointer;
  
  border-radius: 30px;
}
.trending:hover{
  background-color: #e8f5fe;
  color: #50b7f5;
  transition: color 100ms ease-out;
}
.trending > h2{
  font-weight: 700;
  font-size:110%;
  text-align: center;
  margin-left: 5%;
}

.notificationFeed {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  text-align: center;
}

.notificationCard {
  min-height: 100px;
  max-height: 140px;
  /* border-width: thin; */
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #aab8c2;
  text-align: left;
  cursor: pointer;

}

.notificationCard .headline {
  font-weight: bolder;
  margin-left: 10%;
  /* width:fit-content; */
  display: flex;
  white-space: pre-wrap;
}

.notificationCard .headline > div:hover {
  color: #50b7f5;
}

.notificationCard .content {
  margin-left: 10%;

}

.notificationCard > img {
  margin-top: 2%;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  margin-left: 10%;

}

.tweetCard {
  /* border: 1px solid;
  border-color: lawngreen; */
  border-top: 1px solid;
  border-color: #aab8c2;
  width: 100%;
  height: max-content;
}

.userDetails {
  margin-top: 3%;
  display: flex;
  justify-content: flex-start;
}

.nameAndTime {
  width: fit-content;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px; 
  cursor: pointer;
  width: 85%;
    /* white-space: pre-wrap; */

}

.nameAndTime > div {
  color: grey;
}

.nameAndTime > div:hover {
  color: #50b7f5;
}

.tweetCardImage {
  width: 10%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.tweetCardImage > img {
  background-color: black;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.tweetCardImage > img:hover {
  opacity: 0.5;
}

.tweetCardContents {
  margin: 5px;
  padding: 2%;
}

.tweetCardContents > a:hover{
  color: #50b7f5;
}

.retweetInfo {
  margin-top: 3%;
  margin-left: 3%;
  margin-bottom: 1%;
  cursor: pointer;
  color: #8e969c;
}

.retweetInfo:hover {
  color: #50b7f5;
}


.tweetCardBottom {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2%;
}

.replyModalClosed {
  display: none; 
}

.replyModalOpen {
  display: flex; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  background-color: rgba(0,0,0,0.4); 
  justify-content: center;
  align-items: center;

}

.replyModal {
  padding: 20px;
  width: 400px; 
  height: 300px;
}

.replyModalContent {
  border-radius: 12px;
  padding: 5%;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.close {
  margin-left: 3%;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.replyForm {
  margin-top: 5%;
  margin-left: 2%;
  display: grid;
  /* gap: 15px; */
  white-space: pre-wrap;
  height: 80%;
  grid-template-rows: [row1-start] 25% [row1-end row2-start] 25% [row3-start-row3-end] 50% [row3-end];
  grid-template-columns: [first] 60px [line2] auto [end]

}

.replyRecipientInfo {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  width: 80%;
}


.replyNameAndTime {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 4px;
}

.replyRecipientImage {
  grid-row: 1;
  grid-column: 1;
  height: 45px;
  width: 45px;
}

.replyRecipientImage > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.tweetReplyForm {
  grid-row: 3;
  grid-column: 2
}

.tweetReplyFormCurrentUser {
  grid-row: 3;
  grid-column: 1;


  height: 45px;
  width: 45px;
}

.tweetReplyFormCurrentUser > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.dividerLine {
  grid-row: 2;
  grid-column: 1;
}

.replyingToInfo {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  cursor: pointer;
}

.replyingToInfo > div {
  color: #50b7f5;
}

.replyingToInfo > div:hover {
  color: #50b7f5;
}

