html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


/* Layout */

.LayoutDiv {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.middle{
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #f1f3f5;
  width: 42%;
  margin-left: 25%;
}

.leftSide{
  border-left: 1px solid;
  border-color: #e9f6ff;
  width: 25%;
  overflow: auto;
  max-height: 100vh;
  position: fixed;
  float: left;
}

.rightSide{
  border-right: 1px solid;
  border-color: #aab8c2;
  width: 33%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: fixed;
  overflow: auto;
  max-height: 100vh;
  margin-left: 67%;
  float: right;
}

@media(max-width: 1080px){
  .LayoutDiv {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.middle{
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #f1f3f5;
  width: 60%;
  margin-left: 40%;
}

.leftSide{
  border-left: 1px solid;
  border-color: #e9f6ff;
  width: 40%;
  overflow: auto;
  max-height: 100vh;
  position: fixed;
  float: left;
}

.rightSide{
  border-right: 1px solid;
  border-color: #aab8c2;
  width: 33%;
  display: none;
  justify-content: flex-start;
  flex-direction: column;
  position: fixed;
  overflow: auto;
  max-height: 100vh;
  margin-left: 67%;
  float: right;
}

}

/* Log in  */

.logInHeader {
  display: flex;
  justify-content: center;
}

.logInForm {
  display: flex;
  justify-content: center;
  min-height: 50vh;
  min-width: 80%;
}

.logInForm > form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  min-width: 80%;
}

.logInButton {
  display: flex;
  justify-content: center;

}

.logInButton > button {
  min-height: 8vh;
  min-width: 25vw;
  max-width: 25vw;
  background-color: hsl(0, 0%, 0%);
  border-radius: 20px;
  color: white;
  font-weight: 700;
  font-size: 13pt;
}

.logInButton > button:hover{
  background-color: #000000;
  opacity: 80%;
  transition:ease-out;
}

.logInInputDiv {
  display: flex;
  justify-content: center;
  flex-direction: row;
  min-width: 80%;
}

.logInInputDiv > input {
  min-height: 8vh;
  min-width: 25vw;
  max-width: 25vw;
  border-radius: 8px;
  font-size: 12pt;
}

.logInInputDiv > input:focus {
  outline-width: 0;
  border-color: #50b7f5;
  transition: color 100ms ease-out;
}

.errorModalClosed {
  display: none; 
}

.errorModalOpen {
  display: flex; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  background-color: rgba(0,0,0,0.4); 
  justify-content: center;
  align-items: center;

}

.errorModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 300px; 
  height: 300px;
}

.errorModalContent {
  
  border-radius: 12px;
  padding: 5%;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.okayContainer {
  display: flex;
  justify-content: center;
  margin-top: 25%;
}

.okay {
  height: 7vh;
  width: 15vh;
  background-color: hsl(0, 0%, 0%);
  border-radius: 20px;
  color: white;
  font-weight: 700;
  font-size: 8pt;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.okay:hover,
.okay:focus {
  color: #fff;
  opacity: 80%;
  text-decoration: none;
  cursor: pointer;
  transition:ease-out;
}

/* Sidebar */

.sidebar{
  width: 70%;
  overflow: hidden;
  padding: 20px 20px;
  margin: 20px auto 0 auto;
}

.sidebarlink{
  display: flex;
  overflow: hidden;
  align-items: cover;
  cursor: pointer;
  border-radius: 30px;
  margin-bottom: 5px;
}
.sidebarlink:hover{
  background-color: #e8f5fe;
  color: #50b7f5;
  transition: color 100ms ease-out;
}
.sidebarlink > h2{
  font-weight: 700;
  font-size: 20px;
  margin-right: 20px;
  
}
.sidebarlink > .MuiSvgIcon-root {
  padding: 20px;
}

#tweet{
  width: 100%;
  height: 50px;
  background-color: hsl(203, 89%, 64%);
  border-radius: 20px;
  color: white;
  font-weight: 700;
  text-transform: inherit;
}

/* HomeTweetBox */

.homeHeading {
  position: fixed;
  display: flex;
  width: inherit;
  background-color: white;
  opacity: 85%;
}

.homeHeading > h2{
  margin-left: 20px;
}


::selection{
  color: #fff;
  background: #1da1f2;
}

.wrapper{
  background: #fff;
  width: 100%;
  border-radius: 15px;
  margin-bottom:5%;
  margin-top: 12%;
}


.tweet-area {
  display: flex;
  padding-top: 10px;
  padding-bottom: 3px;
  align-items: center;
  align-content: space-between;
  min-height: fit-content;
}

.tweet-area-input {
  min-height: 100%;
  height: fit-content;
  overflow-x: hidden;
  width: 85%;
  border-bottom: 1px solid #e6e6e6;
  margin-right: 2%;
}

.tweet-area-input > textarea{
  resize: none;
  min-height: fit-content;
  max-height: max-content;
  width: 95%;
  overflow-y: auto;
  outline: none;
  font-size: 17px;
  word-wrap: break-word;
  word-break: break-all;
  border: none;
}
.tweet-area::-webkit-scrollbar{
  width: 0px;
}

.tweet-area-image {
  width: fit-content;
  padding-left: 2%;
  padding-right: 2%;
}

.tweet-area-image > img {
  margin-top: 2%;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
}


.bottom{
  display: flex;
  margin-top: 13px;
  align-items:center;
  justify-content: space-between;
}

.bottom .content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
}

.bottom .counter{
  color: #333;
  width: 4%;
  font-weight: 500;
  margin-right: 15px;
  padding-right: 15px;
}

.TweetButton {
  padding: 9px 18px;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  background: #a9d8fa;
  color: #fff;
  cursor: pointer;
  pointer-events: none;
  transition: background 0.2s ease;
}

.TweetButton.active {
  background: #1da1f2;
  /* opacity: 1; */
  pointer-events: auto;
}

.TweetButton:hover{
  background: #0d8bd9;
  color: #fff;
}

/* TrendingAndSearch */

.searchBar {
  display: flex;
  min-height: 90px;
  align-items: center;
  align-content: center;
  justify-content: center;
  
}

.searchBar > input {
  min-height: 6vh;
  width: 80%;
  border-radius: 30px;
  text-align: center;
  font-size: inherit;
}

.searchBar > input:focus {
  outline-width: 0;
  border-color: #50b7f5;
  transition: color 100ms ease-out;
}

.trendingHeader{
  font-size: 150%;
  text-align: center;
  margin: 5%;
}

.trendingContainer {
  margin: 5%;
}

.trending{
  display: flex;
  overflow: hidden;
  cursor: pointer;
  border-radius: 30px;
}

.trending:hover{
  background-color: #e8f5fe;
  color: #50b7f5;
  transition: color 100ms ease-out;
}
.trending > h2{
  font-weight: 700;
  font-size:110%;
  text-align: center;
  margin-left: 5%;
}

/* Notifications */

.notificationFeed {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  text-align: center;
}

.notificationCard {
  display: flex;
  min-height: 100px;
  max-height: 140px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #aab8c2;
  text-align: left;
  cursor: pointer;
}

.notification {
  width: 85%;
}

.notification .headline {
  font-weight: bolder;
  display: flex;
  white-space: pre-wrap;
}

.notification .headline > div:hover {
  color: #50b7f5;
}


.notification .contentFollow {
  margin-left: 10%;
}

.notification > img {
  min-height: 5vh;
  min-width: 5vh;
  margin-top: 2%;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
}

.iconDisplay {
  min-width: 15%;
  min-height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

/* Explore */

.accountsContainer {
  padding: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  /* margin-left: 1%;
  margin-right: 5%; */
  cursor: pointer;
}

.accountsContainer > div {
  width: 250px;
  height: 30%;
  border: solid 3px #e8f5fe;
  border-radius: 10%;
  overflow: hidden;
}

.accountsContainer > :hover {
  width: 250px;
  height: 30%;
  border: solid 3px #50b7f5;
}

/* TweetCard */

.tweetCard {
  border-top: 1px solid;
  border-color: #f1f3f5;
  width: 100%;
  height: max-content;
  
}

.tweetCard:last-child {
  border-bottom: 1px solid;
  border-color: #aab8c2;
}

.userDetails {
  margin-top: 3%;
  display: flex;
  justify-content: flex-start;
}

.nameAndTime {
  width: fit-content;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px; 
  cursor: pointer;
  width: 85%;
}

.nameAndTime > div {
  color: grey;
}

.nameAndTime > div:hover {
  color: #50b7f5;
}

.tweetCardImage {
  width: 10%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.tweetCardImage > img {
  background-color: black;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.tweetCardImage > img:hover {
  opacity: 0.5;
}

.tweetCardContents {
  margin: 5px;
  padding: 2%;
}

.tweetCardContents > a:hover{
  color: #50b7f5;
}

.retweetInfo {
  margin-top: 3%;
  margin-left: 3%;
  margin-bottom: 1%;
  cursor: pointer;
  color: #8e969c;
}

.retweetInfo:hover {
  color: #50b7f5;
}


/* TweetCardButtons */

.tweetCardBottom {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2%;
}

.tweetCardBottom > button {
  border: none;
  background: none;
  cursor: pointer;
}

.replyModalClosed {
  display: none; 
}

.replyModalOpen {
  display: flex; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  background-color: rgba(0,0,0,0.4); 
  justify-content: center;
  align-items: center;

}

.replyModal {
  padding: 20px;
  width: 500px; 
  height: 300px;
}

.replyModalContent {
  border-radius: 12px;
  padding: 5%;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.close {
  margin-left: 3%;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.replyForm {
  margin-top: 5%;
  margin-left: 2%;
  display: grid;
  white-space: pre-wrap;
  height: 80%;
  grid-template-rows: [row1-start] 25% [row1-end row2-start] 25% [row3-start-row3-end] 50% [row3-end];
  grid-template-columns: [first] 60px [line2] auto [end]

}

.replyRecipientInfo {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  width: 80%;
}


.replyNameAndTime {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 4px;
}

.replyRecipientImage {
  grid-row: 1;
  grid-column: 1;
  height: 45px;
  width: 45px;
}

.replyRecipientImage > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.tweetReplyForm {
  grid-row: 2;
  grid-column: 2
}

.tweetReplyFormCurrentUser {
  grid-row: 3;
  grid-column: 1;
  height: 45px;
  width: 45px;
}

.tweetReplyFormCurrentUser > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.dividerLine {
  grid-row: 2;
  grid-column: 1;
  width: 50%; 
  margin: auto; 
  transform: rotate(90deg); 
  justify-self: center;
  margin-left: 10%;
}

.replyingToInfo {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  cursor: pointer;
  margin-top: 15px;
}

.replyingToInfo > div {
  color: #50b7f5;
}

.replyingToInfo > div:hover {
  color: #50b7f5;
}

/* .moreInfoModal {
  padding: 20px;
  width: 500px; 
  height: 300px;
}

.moreInfoModalOpen{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
} */


/* .moreInfoModalClosed{
  display: none;
}

.moreInfoModalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  padding: 5%;
  width: 170px;
  height: 200px;
  background-color: #fff;
  border: 1px solid;
  border-color: tomato;
} */

.dropbtn {
  /* background-color: white; */
  background: none;
  color: black;
  border: none;
  height: 25px;
  width: 25px;
  /* border-radius: 50%; */
}

.dropdown > button {
  display: flex;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  border: none;
  background: none;
}

.dropdown-content button:hover {
  background-color: #e8f5fe;
  color: #50b7f5;
  transition: color 100ms ease-out;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  align-content: center;
}


.dropdown:hover .dropbtn {
  color: #50b7f5;
  transition: color 100ms ease-out;
}


/* ProfileCard */

.profileCardContainer {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}


.headerImage > img{
  width: 100%;  
  height: 100%;
}

.profilePicture{
  height: 10px;
  width: 60%;
  display: flex;
}

.profilePicture > img {
  transform: translateY(-41px);
  margin-left: 3%;
  height: 70px;
  width: 70px;
  border: 3px solid white;
  border-radius: 50%;
}

.nameAndFollow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2%;
}

.name  {
  align-self: center;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.followOrEditButtonContainer {
  align-self: center;
}

.followOrEditButtonContainer > button {
  border-radius: 20px;
  min-height: 4vh;
  min-width: 10vh;
  font-weight: 700;
  border-width: 1px;
  cursor: pointer;

}

.blackButton {
  background-color: black;
  color: white;
}

.blackButton:hover{
  background-color: #000000;
  opacity: 80%;
  transition:ease-out;
}

.whiteButton {
  background-color: white;
  color: black;
}

.bioAndFollowers {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 4%;
  margin-top: 3%;
}

.bioAndFollowers > .bio {
  margin-top: 1%;
  width: 100%;
  min-height: 15%;
  font-size: 10pt;
}

.bioAndFollowers > .followingFollowers {
  max-width: 60%;
  min-height: 15%;
  display: flex;
  flex-direction: row;
  font-size: 10pt;
  margin-bottom: 5%;
  gap: 4px;
}

/* ProfileEditor */

.profileCreator{
  display: flex;
  flex-direction: column;
  margin: 5%;
  gap: 10px;
}

.profileCreator > input {
  max-width: 5vw;
}

.profileCreator > button {
  width: 5vw;
  height: 4vh;
  border-radius: 20px;
}

.profileCreator > textarea {
  margin-top: 5vh;
  resize: none;
  height: 10vh;

}
.profileCreator > textarea:hover,
.profileCreator > textarea:focus {
  outline-width: 0;
  border-color: #50b7f5;
  transition: color 100ms ease-out;
}

/* LogOut */

.logOut {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.logOut > button {
  border-radius: 20px;
  min-height: 5vh;
  min-width: 20vh;
  font-weight: 700;
  border-width: 1px;
  cursor: pointer;
  background-color: black;
  color: white;

}

.logOut > button:hover {
  background-color: #000000;
  opacity: 80%;
  transition:ease-out;

}
